/*@font-face {
    font-family: "Stencil";
    src: url("/fonts/Stencil-Regular.eot");
    src: url("/fonts/Stencil-Regular.eot?#iefix") format("embedded-opentype"),
        url("/fonts/Stencil-Regular.woff2") format("woff2"),
        url("/fonts/Stencil-Regular.woff") format("woff"),
        url("/fonts/Stencil-Regular.ttf") format("truetype"),
        url("/fonts/Stencil-Regular.svg#Stencil-Regular") format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: block;
}*/

@font-face {
  font-family: "Stencil";
  src: url("/fonts/Stencil-Regular.woff2") format("woff2"),
    url("/fonts/Stencil-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "Helvetica Neue LT Pro";
  src: url("/fonts/HelveticaNeueLTPro-Roman.eot");
  src: url("/fonts/HelveticaNeueLTPro-Roman.eot?#iefix")
      format("embedded-opentype"),
    url("/fonts/HelveticaNeueLTPro-Roman.woff2") format("woff2"),
    url("/fonts/HelveticaNeueLTPro-Roman.woff") format("woff"),
    url("/fonts/HelveticaNeueLTPro-Roman.ttf") format("truetype"),
    url("/fonts/HelveticaNeueLTPro-Roman.svg#HelveticaNeue") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "Linotype Univers 530 Medium";
  src: url("/fonts/LinotypeUnivers-530Medium.woff2") format("woff2"),
    url("/fonts/LinotypeUnivers-530Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
